{% load staticfiles %}
<!DOCTYPE html>
<!-- Based on: https://www.w3schools.com/w3css/w3css_templates.asp -->
<html>

<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.myLink {display: none}
</style>
<body class="w3-dark-grey">

<!-- Navigation Bar -->
<!--<div class="w3-bar w3-white w3-border-bottom w3-xlarge">
  <a href="#" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b><i class="fa fa-map-marker w3-margin-right"></i>Logo</b></a>
  <a href="#" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey"><i class="fa fa-search"></i></a>
</div>
-->
<!-- Header -->
<header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
  <!-- images used (open access) from https://www.pexels.com/photo/table-in-vintage-restaurant-6267/ -->
  <img src="{% static "/menu-restaurant-vintage-table.jpg" %}" alt="Hipster Restaurant" width="1500" height="700" />
  <div class="w3-display-middle" style="width:65%">
    <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Drink');"><i class="fa fa-glass-martini w3-margin-right"></i>Drink</button>
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Eat');"><i class="fa fa-utensil-fork"></i>Eat</button>
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Buy');"><i class="fa fa-shopping-cartk"></i>Buy</button>
    </div>

    <!-- Tabs -->
    <div id="Drink" class="w3-container w3-white w3-padding-16 myLink">
      <h3>Shots for solidarity. </h3>
      <div class="w3-row-padding" style="margin:0 -16px;">
        <div class="w3-half">
          <label>Where?</label>
          <input class="w3-input w3-border" type="text" placeholder="Hyde Park">
        </div>
        <div class="w3-half">
          <label>Tell us more:</label>
          <input class="w3-input w3-border" type="text" placeholder="Mechanical bull">
        </div>
      </div>
      <p><button class="w3-button w3-dark-grey">Don't forget to hydrate!</button></p>
    </div>


    <div id="Eat" class="w3-container w3-white w3-padding-16 myLink">
      <h3> Devour Dimsum. Destroy Injustice.</h3>
      <div class="w3-row-padding" style="margin:0 -16px;">
        <div class="w3-half">
          <label>Where? </label>
          <input class="w3-input w3-border" type="text" placeholder="Hyde Park">
        </div>
        <div class="w3-half">
          <label>Tell us more:</label>
          <input class="w3-input w3-border" type="text" placeholder="Chinese food">
        </div>
      </div>
      <p><button class="w3-button w3-dark-grey">Nomnomnomnom</button></p>
    </div>

    <div id="Buy" class="w3-container w3-white w3-padding-16 myLink">
      <h3>Listen to your heart. Spend at the right places.</h3>
      <div class="w3-row-padding" style="margin:0 -16px;">
        <div class="w3-half">
          <label>Where? </label>
          <input class="w3-input w3-border" type="text" placeholder="Hyde Park">
        </div>
        <div class="w3-half">
          <label>Tell us more:</label>
          <input class="w3-input w3-border" type="text" placeholder="Sweaters for pet badgers">
        </div>
      </div>
      <p><button class="w3-button w3-dark-grey">Make it rain</button></p>
    </div>


    </div>
</header>

<script>
// Tabs
function openLink(evt, linkName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("myLink");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(linkName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}
// Click on the first tablink on load
document.getElementsByClassName("tablink")[0].click();
</script>

</body>
</html>