<!--
MODIFIED (sourced from W3 schools (links belows) and mapbox and leaflet
documentation)

Authors: Tyler Amos
-->

  <!DOCTYPE html>
<!-- Based on an example from https://maptimeboston.github.io/leaflet-intro/ and a tutorial at http://leafletjs.com/examples.html  and  http://www.d3noob.org/2014/02/adding-multiple-markers-to-leafletjs-map.html

This document borrows extensively from the examples cited above. -->


{% load leaflet_tags %}


<html>
<head>
  
{% leaflet_js %}
{% leaflet_css %}


    <title>Find Your Nice Things</title>
    
    <meta charset="utf-8" />
    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />

<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>

<div id="map" ></div>


<script>

// get access to the underlying images and mapping data
L.mapbox.accessToken = 'pk.eyJ1IjoidHlsZXJhdWNoaWMiLCJhIjoiY2plM2w3dHl4MmR1azJxcDkyaGdrZmYxNiJ9.NcAoPbMiSoUeWiIzuYh9tg';

// Replace 'mapbox.streets' with map id
var mapboxTiles = L.tileLayer('https://api.mapbox.com/styles/v1/tylerauchic/cjeeqb93c6ji92sphqmidupsk/tiles/256/{z}/{x}/{y}?access_token=' + L.mapbox.accessToken, {
    attribution: '© <a href="https://www.mapbox.com/feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
});

// create an array of our values we want to plot
 var results = {{ output | safe }} 
 
 //  From: https://stackoverflow.com/questions/739942/how-to-pass-an-array-in-django-to-a-template-and-use-it-with-javascript#739974
 
 var focuslat = results[0][0]
 var focuslon = results[0][1]
    

// put down the land cover, colours, etc.
var map = L.map('map')
    .addLayer(mapboxTiles)
    .setView([focuslat, focuslon], 13); // the focal point of the map
    
    
    
// add points to the map
  for (var i = 0; i < results.length; i++) {
   marker = new L.marker([results[i][0],results[i][1]]) // lat, lon
    .bindPopup(results[i][2]) // content
    .addTo(map); // add the marker
  }

    </script>
</body>
</html>
