
  
<!DOCTYPE html>
<!-- Based on an example from https://maptimeboston.github.io/leaflet-intro/ and a tutorial at http://leafletjs.com/examples.html -->
{% load leaflet_tags %}
{% load geojson_tags %}
<html>
<head>
{% leaflet_js %}
{% leaflet_css %}
<meta charset=utf-8 />
<title>Find Your Nice Things</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>
<div id='map'></div>
<script>
  var lat1 = {{ lat1 }};
  var lon1 = {{ lon1 }};
  var lat2 = {{ lat2 }};
  var lon2 = {{ lon2 }};
</script>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoidHlsZXJhdWNoaWMiLCJhIjoiY2plM2w3dHl4MmR1azJxcDkyaGdrZmYxNiJ9.NcAoPbMiSoUeWiIzuYh9tg';
// Replace 'mapbox.streets' with your map id.
var mapboxTiles = L.tileLayer('https://api.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=' + L.mapbox.accessToken, {
    attribution: '© <a href="https://www.mapbox.com/feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
});

// Borrows from http://www.d3noob.org/2014/02/adding-multiple-markers-to-leafletjs-map.html

        
  var map = L.map('map')
    .addLayer(mapboxTiles)
    .setView([lat1, lon1], 13); // focal point of the map
    


 var planes = [
  ["7C6B07",lat1,lon2],
  ["7C6B38",lat1,lat2],
  ["7C6CA1",lat2, lon2]
  ];


  for (var i = 0; i < planes.length; i++) {
   marker = new L.marker([planes[i][1],planes[i][2]])
    .bindPopup(planes[i][0])
    .addTo(map);
  }

         
//var marker1 = new L.marker([lat1, lon1]).addTo(map);

 // marker1.bindPopup("{{ content1 }}");
  
  
//var marker2 = new L.marker([lat2, lon2])

 // marker2.bindPopup("marker 2");
 // marker2.addTo(map);
  
  //var marker2 = L.marker([41.8762, -87.6235]).addTo(map);
   //marker2.bindPopup("<b>Hello world!</b>");


  

</script>


</body>
</html>